{{ form_start(form, {attr: {class: "ui loadable form"}}) }}
    <div class="ui inline fields">
        {{ form_row(form.weight) }}
        {{ form_row(form.submit, {attr: {class: 'ui teal button'}}) }}
    </div>
{{ form_end(form) }}