
{% set weight = data.shipment.weight %}
{% set state = 'green' %}

{% if data.weight|default(0) and data.weight > 0 %}
    {% set weight = data.weight %}
{% endif %}

{% if weight == 0 %}
    {% set state = 'red' %}
{% endif %}

{% if data.state == 'new' %}
    {{ render(controller('Ikuzo\\SyliusColishipPlugin\\Controller\\ShippingExportController::setWeight', {id: data.id})) }}
{% else %}
    <span class="shipping-export-state ui {{ state }} label">
        {{ weight }} kg
    </span>
{% endif %}
